.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #303030;
    text-transform: uppercase;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    gap: 40px;
}

.elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

