{% extends 'user_auth_base.html' %}
{% block title %}
Вход
{% endblock %}
{% block body %}
<body class="text-center">
  <main class="form-signin container mt-5">
    {% if message %}
    <div class="alert alert-success" role="alert">
    {{ message }}
    </div>
    {% endif %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
    {% endfor %}
    <form method="post" action="/login">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
        <label for="username">Username</label>
      </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
        </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
  </main>
</body>
{% endblock %}