.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    color: black;
}

.gant{
    width: 100%;
    height: 70%;
}