.videos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 16px 16px;
    border: 1px solid #9C9C9C;
    border-radius: 16px;
}

.video-preview-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.video-preview {  
    width: 320px;
    height: 180px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    border-radius: 8px;
} 
